<!DOCTYPE html>
<html>
<head>
  <title>MCP Agent Eye</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <h1>Agent View: Menu Export</h1>

  {{#if error}}
    <div class="error">{{error}}</div>
  {{/if}}
  
  {{#if debug}}
    <div class="debug">
      <details>
        <summary>Debug Info</summary>
        <pre>{{debug}}</pre>
      </details>
    </div>
  {{/if}}
  
  <div class="container">
    <div class="buttons" id="actions">
      <button id="btn-export">Export Menu</button>
      <button id="btn-validate">Validate Order</button>
      <button id="btn-accept">Accept Order</button>
    </div>

    <pre id="output">Click one of the buttons above to perform an action...</pre>
  </div>

  {{#if categories.length}}
    <ul>
      {{#each categories}}
        <li>
          <h2>{{this.category}}</h2>
          <ul>
            {{#each this.items}}
              <li>{{this.item}} - 
                {{#each this.sizePrices}}
                  {{this.size}} (${{this.price}})
                {{/each}}
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No menu data available.</p>
  {{/if}}
  
  <script src="/app.js"></script>
</body>
</html>